@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to getACTIV!</h1>
    <h4>Start Documenting Your Workout Progress Now</h4>
    
</div>
